@model BTracker.Models.ProjectAccess

<tbody>
    <tr>
        <td>
            @Html.DisplayFor(model => model.User.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.AccessLevel.AccessName)
        </td>
        <td>
            <a asp-action="Edit" asp-controller="ProjectAccesses" asp-route-id="@Model.ProjectId" asp-route-projectAccessId="@Model.ProjectAccessId">Edit</a>
        </td>
    </tr>
</tbody>