@model BTracker.Models.ProjectAccess

<tbody>
    <tr>
        <td>@Html.DisplayFor(item => item.User.Email)</td>
        <td>@Html.DisplayFor(item => item.AccessLevel.AccessName)</td>
        <td>
            <a asp-action="Edit" asp-controller="ProjectAccesses" asp-route-id="@Model.ProjectId">Edit</a>
        </td>
    </tr>
</tbody>