@model BTracker.Models.Section

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.SectionName)
        </dt>
    </dl>
    @foreach (var taske in Model.Taskes)
    {
        @await Html.PartialAsync("_SeeTaskeSection", taske);
    }
</div>
<div>
    @Html.ActionLink("Add taske", "Create", "Taskes", new { id = Model.ProjectId, sectionId = Model.SectionId, place = ViewData["Title"] }) |
    @Html.ActionLink("Change section name", "Edit", "Sections", new { id = Model.ProjectId, sectionId = Model.SectionId }) |
    @Html.ActionLink("Delete section", "Delete", "Sections", new { id = Model.ProjectId, sectionId = Model.SectionId })
</div>
