@model BTracker.Models.Project

@{
    ViewData["Title"] = "Create";
}

<div class="limiter">
    <div class="container-login100" style="min-height: 80vh">
        <div class="wrap-login100">
            <section>
                <form class="login100-form validate-form" enctype="multipart/form-data" asp-action="Create">
                    <span class="login100-form-title p-b-26">
                        Create new <br /><b style="color: #150940">Project</b>
                    </span>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="ProjectName" placeholder="Project Name" type="text">
                    </div>

                    <input type="hidden" asp-for="UserId" value="@ViewBag.currentUserId" readonly />

                    <div class=" text-center form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    
                    @if (ViewBag.countProjects != 0)
                    { 
                        <div class="text-center p-t-25">
                            <span class="txt1">
                                <a asp-action="Index"><b>Back to Projects List</b></a>
                            </span>
                        </div>
                    }
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
