@model BTracker.Models.Views.ProjectSectionAndTaskesViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container m-t-20">
    @await Html.PartialAsync("_ProjectHeader", Model.Project) 
    <dl class="row">

        <dt class="col-sm-2">
            What we will make
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectSmallBrief)
        </dd>

    </dl>
    <table class="table table-striped m-t-20">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Access</th>
                <th scope="col">Change access</th>
            </tr>
        </thead>
        @foreach (var usersProject in Model.ProjectAccesses)
        { 
            @await Html.PartialAsync("_SeeUsersInProject", usersProject) 
        }
    </table>
    <div>
        <ul class="list-inline dis-flex justify-content-between">
            <li class="list-inline-item">
                @Html.ActionLink("Add user", "Create", "ProjectAccesses", new { id = Model.Project.ProjectId }) 
            </li>
            <li class="list-inline-item">
                <a asp-action="Index">Back to Projects List</a>
            </li>
        </ul>
    </div>
</div>
