@model BTracker.Models.Project

@{
    ViewData["Title"] = "Edit";
}


<div class="limiter">
    <div class="container-login100" style="min-height: 80vh">
        <div class="wrap-login100">
            <section>
                <form class="login100-form validate-form" asp-action="Edit">
                    <span class="login100-form-title p-b-26">
                        Change Project Name
                    </span>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="ProjectId" />
                    <input type="hidden" asp-for="UserId" value="@ViewBag.currentUserId" />

                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="ProjectName" placeholder="Project Name" />
                    </div>

                    <div class=" text-center form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>

                    <div class="text-center p-t-25">
                        <span class="txt1">
                            <a asp-action="@ViewBag.place" asp-controller="Projects" asp-route-id="@ViewBag.projectId"><b>Back to Project</b></a>
                        </span>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
