@model BTracker.Models.Views.ProjectSectionAndTaskesViewModel

@{
    ViewData["Title"] = "List";

}

<div class="m-b-20 m-t-20 m-l-40 m-r-40">
    @await Html.PartialAsync("_ProjectHeader", Model.Project)
    <hr />
    <div>
        @foreach (var section in Model.Sections)
        {
            <div>
                @await Html.PartialAsync("_SeeSectionProject", section)
            </div>
        }
    </div>
    <hr />
    <div>
        <ul class="list-inline dis-flex justify-content-between">
            <li class="list-inline-item">
                @Html.ActionLink("Add Sections", "Create", "Sections", new { id = Model.Project.ProjectId, place = ViewData["Title"] })
            </li>
            <li class="list-inline-item">
                <a asp-action="Edit" asp-route-id="@Model.Project.ProjectId">Edit</a>
            </li>
            <li class="list-inline-item">
                <a asp-action="Index">Back to List</a>
            </li>
        </ul>

    </div>
</div>
