@model BTracker.Models.Views.ProjectSectionAndTicketsViewModel

@{
    ViewData["Title"] = "List";

}

<div class="m-b-20 m-t-20 m-l-40 m-r-40">
    @await Html.PartialAsync("_ProjectHeader", Model.Project)
    <hr />
    <div>
        @foreach (var section in Model.Sections)
        {
            <div>
                @await Html.PartialAsync("_SeeSectionProject", section)
            </div>
            <div>
                @Html.ActionLink("Add ticket", "Create", "Tickets", new { id = section.ProjectId, sectionId = section.SectionId, place = ViewData["Title"] }) |
                @Html.ActionLink("Edit Section", "Edit", "Sections", new { id = section.ProjectId, sectionId = section.SectionId, place = ViewData["Title"] }) |
                @Html.ActionLink("Delete section", "Delete", "Sections", new { id = section.ProjectId, sectionId = section.SectionId, place = ViewData["Title"] })
            </div>
        }
    </div>
    <hr />
    @await Html.PartialAsync("_ProjectFooter") 
</div>
