@model BTracker.Models.Section

@{
    ViewData["Title"] = "Create";
}

<div class="limiter">
    <div class="container-login100" style="min-height: 80vh">
        <div class="wrap-login100">
            <section>
                <form class="login100-form validate-form" asp-action="Create" asp-route-place="@ViewBag.place">
                    <span class="login100-form-title p-b-26">
                        Create new <br /><b style="color: #150940;">Section</b>
                    </span>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="SectionName" placeholder="Section Name" type="text">
                    </div>

                    <input type="hidden" asp-for="ProjectId" value="@ViewBag.projectId" readonly />

                    <div class=" text-center form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>


                    <div class="text-center p-t-25">
                        <span class="txt1">
                            <a asp-action="@ViewBag.place" asp-controller="Projects" asp-route-id="@ViewBag.projectId"><b>Back to Project</b></a>
                        </span>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>