@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.submitFormBtn {
    background: #150940;
    border-radius: 5px;
    font-size: 16px;
    margin: 24px 0 12px;
    padding: 16px;
    border: 0;
    color: white;
    cursor: pointer;
}

.myProjectsContainer {
    width: 100%;
    height: auto;
}
.myProjectsContainer a
{
    padding: 10px 20px;
}