@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <span class="login100-form-title p-b-26">
                Confirm email
            </span>
            <div class="text-center">
                <span class="txt1 text">
                    <b>@Html.ActionLink("Log in", "Account", "Identity", new { id = "Login" })</b>
                </span>
            </div>
        </div>
    </div>
</div>
