@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <section>
                <form class="login100-form validate-form" id="account" method="post">
                    <span class="login100-form-title p-b-26">
                        Forgot your <b style="color: #150940">Password?</b>
                    </span>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="Input.Email" placeholder="Email" type="text">
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <button class="login100-form-btn submitFormBtn" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
