@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
            <span class="login100-form-title p-b-26">
                Register confirmation
            </span>
            <div class="text-center p-t-25">
                <span class="txt1">
                                Please check your email to confirm your account.
                </span>
                <span class="txt1">
                    <a asp-controller="Home" asp-action="Index">
                        <b>Return Home</b>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
*@